@import "Base/_variables.scss";

.wrapper
{
    background-color:$navy;
  .login
  {
    grid-column: 6 / span 3;
    grid-row: 2 ;
    img
    {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    h1
    {
      font-size:1.5em;
      font-weight: 700;
      text-align: center;
      line-height: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-transform:uppercase;
      margin-bottom:20px;
      color:$dark-white;
    }

    form
    {
      background-color:$dark-white;
      border-radius:5px;
      box-shadow: 0 2px 1px rgba(0,0,0,.7);
      padding:15px;

      .names fieldset:first-child
      {
        float: left;
        padding-right: 10%;
      }
      .names fieldset
      {
        width: 45%;
      }

      label
      {
        color:#000;
      }
      input[type=text],input[type=password]
      {
        font-size: 0.8em;
        width:100%;
        padding: 10px 0;
        margin-bottom:12px;
        margin-top:6px;
        border:none;
        border-bottom:1px solid rgba($navy,.3);
        background-color: transparent;
      }
      input[type=checkbox]
      {
        font-size: 0.8em;
        margin-top: 12px;
      }
      input:focus
      {
        outline:none;
      }
      button
      {
        width:100%;
        cursor: pointer;
        margin-top: 24px;
        font-size: 1em;
        font-weight:700;
        background-color: $blue;
        color: $dark-white;
        border: none;
        border-radius: 5px;
        line-height: 50px;
        box-shadow: 0 3px 1px  rgba($navy,.9);
        text-transform: uppercase;
      }
      button:hover
      {
        background-color: $dark-blue;
      }
    }
      .forget-password,.register
      {
        background-color: $dark-white;
        border-radius: 5px;
        width: 100%;
        line-height: 50px;
        margin-top:12px;
        box-shadow: 0 2px 1px rgba(0,0,0,.7);
        a
        {
        color: $navy;
        font-size: 0.8em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: block;

        }
      }
      .forget-password:hover,.register:hover
      {
        background-color: $base-color;
        a
        {
          color: $dark-white;
        }
      }
  }
  footer
  {

    span
    {
      color:rgba($dark-white,.7);
    }
  }
}
